@tailwind base;
@tailwind components;
@tailwind utilities;

.neon-text {
  text-shadow:
    0 0 5px #ec4899,
    0 0 10px #ec4899,
    0 0 20px #ec4899;
}

button {
  transition: transform 0.1s;
}

button:active {
  transform: scale(0.95);
}
